.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 150px;
}
.nav-items > ul {
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  font-size: larger;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  margin: 5px;
  width: 255px;
  background-color: aliceblue;
  padding: 5px;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.filter {
  display: flex;
  padding: 10px 0px;
}
.filter-btn {
  padding: 10px;
  cursor: pointer;
  margin: 0px 10px;
}
.res-logo {
  width: 100%;
  border-radius: 1em;
  height: 200px;
}
.shimmer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20 5px;
  width: 255px;
  height: 360px;
  background-color: #f0f0f0;
  padding: 5px;
}
.login-btn {
  padding: 0 10px;
  margin: 10px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.search {
  display: flex;
  margin-right: 20px;
}
.search-box {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.search-btn {
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
